@media (min-width: 1350px) {
    .container {
        width: 1320px;
    }
    header .container,
    .main_footer .container {
        width: 1170px;
    }
    .main_footer .container {
        padding-left: 0;
        padding-right: 30px;
    }
}


@media (max-width: 1349px) {
    /*banner*/
    .banner_item:nth-child(1) {
        padding-left: 40px;
    }
    .banner_item:nth-child(2) {
        padding-left: 60px;
    }
    .banner_item:nth-child(3) {
        padding-left: 80px;
    }
    .banner_item:nth-child(4) {
        padding-left: 100px;
    }
    
    
    /*services*/
    .services_clients {
        margin-right: 50px;
    }
    .clients_list .amec,
    .clients_list .uu,
    .clients_list .berkeley,
    .clients_list .bb,
    .clients_list .s_water,
    .clients_list .miller {
        margin-right: 45px;
    }
    
    /*process*/
    .process_item_title {
        min-height: 54px;
    }
    
    /*stories*/
    .stories_content, 
    .stories_content:hover, 
    .stories_content:active, 
    .stories_content:visited, 
    .stories_content:focus {
        width: 370px;
    }
    
    .contacts_submit {
        margin-left: 520px;
    }
    
    .main_footer .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media (max-width: 1199px) {
    
    /*header*/
	header {
		height: 110px;
	}
	header .navbar-default .navbar-brand img {
		width: 200px;
	}
	header .navbar-default .navbar-nav {
		margin-top: 40px;
	}
	header .navbar-default .navbar-nav li a {
		padding: 15px 10px;
	}
	header .navbar-default .navbar-nav li a.-about-jksl {
		max-width: 76px;
	}
	header .navbar-default .navbar-nav li a.-blog {
		max-width: 65px;
	}
	header .navbar-default .navbar-nav li a.-what-is-japanese-knotweed {
		max-width: 110px;
	}
	header .navbar-default .navbar-nav li a.-the-jksl-solution-japanese-knotweed-removal {
		max-width: 100px;
	}
	header .navbar-default .navbar-nav li a.-jksl-clients {
		max-width: 85px;
	}
	header .navbar-default .navbar-nav li a.-contact-jksl {
		max-width: 100px;
	}
    
    
    /*banner*/
    .banner_item:nth-child(1) {
        padding-left: 10px;
    }
    .banner_item:nth-child(2) {
        padding-left: 30px;
    }
    .banner_item:nth-child(3) {
        padding-left: 50px;
    }
    .banner_item:nth-child(4) {
        padding-left: 70px;
    }
    .banner_subtitle {
        font-size: 18px;
    }
    
    
    /*services*/
    .services_clients {
        margin-right: 30px;
    }
    .clients_list .amec,
    .clients_list .uu,
    .clients_list .berkeley,
    .clients_list .bb,
    .clients_list .s_water,
    .clients_list .miller {
        margin-right: 40px;
    }

    
    /*problem*/
    .problem .container {
        padding: 39px 15px 60px;
    }
    .problem_item {
        padding-left: 15px;
        padding-right: 15px;
    }
    .problem_item_title {
        font-size: 17px;
    }
    
    
    /*process*/
    .process_item_title {
        min-height: 54px;
    }
    
    
    /*stories*/
    .stories_carousel_wrap {
        margin-left: -0;
        margin-right: -0;
    }
    .stories_content, 
    .stories_content:hover, 
    .stories_content:active, 
    .stories_content:visited, 
    .stories_content:focus {
        width: 420px;
    }
    
    
    /*process*/
    .process .container {
        padding: 40px 15px 34px;
    }
    .process_item {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    /*promotion*/
    .promotion .container {
        padding: 34px 15px 18px;
    }
    .advertising {
        padding-left: 15px;
    }
    .stream_wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    .promotion_video {
        overflow: hidden;
        width: 100%;
        max-width: 535px;
        height: 300px;
    }
    .advertising_img_description {
        right: -144px;
        width: 230px;
    }
    .advertising_name p {
        padding-left: 5px;
        width: 143px;
        font-size: 18px;
    }
    .advertising_post {
        padding-left: 93px;
        font-size: 16px;
    }
    
    
    /*contacts*/
    .contacts_item_title {
        padding-left: 0;
    }
    .contacts_item_description {
        padding-left: 0;
        font-size: 19px;
    }
    .contacts_submit {
        margin-left: 518px;
    }
    
    
    /*footer*/
	.footer .trade-logos img {
		max-height: 60px;
	}
}



@media (max-width: 991px) {

    /*header*/
	header {
		height: 152px;
	}
	header .navbar-default .navbar-brand img {
		padding-top: 0;
	}
	header .navbar-default .navbar-collapse {
		margin: 0 0 0 -40px;
	}
	header .navbar-default .navbar-nav {
		margin-top: 30px;
	}
	header .navbar-default .navbar-nav li a {
		padding: 15px 10px;
	}
	header .navbar-default .navbar-nav li a.-about-jksl {
		max-width: 76px;
	}
	header .navbar-default .navbar-nav li a.-blog {
		max-width: 65px;
	}
	header .navbar-default .navbar-nav li a.-what-is-japanese-knotweed {
		max-width: 110px;
	}
	header .navbar-default .navbar-nav li a.-the-jksl-solution-japanese-knotweed-removal {
		max-width: 100px;
	}
	header .navbar-default .navbar-nav li a.-jksl-clients {
		max-width: 85px;
	}
	header .navbar-default .navbar-nav li a.-contact-jksl {
		max-width: 100px;
	}

    
    /*banner*/
    .banner {
        height: 220px;
    }
    .main_slider .carousel-inner > .item > img {
        max-width: 100%;
    }
    .banner_item:nth-child(1),
    .banner_item:nth-child(2),
    .banner_item:nth-child(3),
    .banner_item:nth-child(4) {
        padding-left: 15px;
    }
    .banner_red_line {
        margin-bottom: 10px;
    }
    .banner_title {
        font-size: 20px;
    }
    .banner_subtitle {
        font-size: 13px;
    }
    
    
    /*services*/
    .services_img_title {
        font-size: 25px;
    }
    .services_clients p {
        margin-bottom: 10px;
    }
    .clients_list .amec, 
    .clients_list .uu, 
    .clients_list .berkeley, 
    .clients_list .bb,
    .clients_list .s_water,
    .clients_list .miller {
        margin-right: 33px;
        margin-bottom: 15px;
    }
    
    
    /*problem*/
    .problem_item_title {
        min-height: 72px;
    }
    
    
    /*process*/
    .process_item_title {
        min-height: auto;
    }
    .process_description {
        min-height: 65px;
    }
    
    
    /*treatment*/
    .treatment_item:nth-child(1) {
        padding-left: 15px;
    }
    .treatment_item:nth-child(6) {
        padding-right: 15px;
    }
    .treatment_icon {
        margin-bottom: 35px;
    }
    
    
    /*stories*/
    .stories_content, 
    .stories_content:hover, 
    .stories_content:active, 
    .stories_content:visited,
    .stories_content:focus {
        width: 365px;
        font-size: 16px;
    }
    
    
    /*contacts*/
    .how_old {
        right: 5px;
    }
    .contacts_item_title {
        padding-left: 130px;
    }
    .contacts_item_description {
        padding-left: 130px;
        font-size: 19px;
    }
    .contacts_submit {
        margin-left: 150px;
    }
    
    /*footer*/
	.footer .trade-logos img {
		max-height: 45px;
	}
}



@media (max-width: 767px) {

    
    /*header*/
	header {
		height: 70px;
	}
	header .navbar-default {
		z-index: 500;
	}
	header .navbar-default .navbar-toggle {
		background: #d02e26;
		border: 1px solid #e5332a;
		margin-right: 0;
		margin-top: 15px;
	}
	header .navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	header .navbar-default .navbar-toggle:hover,
    header .navbar-default .navbar-toggle:focus,
    header .navbar-default .navbar-toggle:active {
		background: #d02e26;
	}
	header .navbar-default .navbar-collapse {
		background: #e5332a;
		float: right;
		width: 210px;
	}
	header .navbar-default .navbar-collapse .navbar-nav {
		margin: 0 -15px;
	}
	header .navbar-default .navbar-collapse .navbar-nav > li > a {
		border-radius: 0;
		border-bottom: 1px solid #d02e26;
		min-height: 0;
		max-width: 210px;
		text-align: left;
	}
	header .navbar-default .navbar-collapse .navbar-nav > li > a:hover {
		background: #fff;
		color: #e5332a;
	}
	header .navbar-default .navbar-brand {
		display: inline-block;
		padding: 15px 0;
	}
	header .navbar-default .navbar-brand img {
		margin: 0;
		padding: 0;
		width: 175px;
	}
	.sub-nav {
		padding: 0;
	}
	.sub-nav li {
		margin: 0;
		padding: 0;
	}
	.sub-nav li a {
		border-bottom: 1px solid #e5332a;
		display: block;
		padding: 8px 25px;
		text-align: left;
	}

    
    /*banner*/
    .banner {
        height: auto;
    }
    
    /*services*/
    .commercial_services {
        margin-bottom: 15px;
        padding: 0;
    }
    .residental_services {
        margin-bottom: 40px;
        padding: 0;
    }
    .services_img_wrap,
    .services_img_wrap:hover {
        margin: 0 auto;
    }
    
    
    /*problem*/
    .problem .container {
        padding: 39px 15px 0;
    }
    .problem_item_title {
        min-height: auto;
    }
    .problem_description {
        margin-bottom: 40px;
    }
    
    
    /*process*/
    .process_description {
        margin-bottom: 20px;
    }
    
    
    /*call_us*/
    .call_wrap:before {
        display: none;
    }

    
    /*stories*/
    .stories_red {
        margin-left: auto;
        margin-right: auto;
    }
    .stories h2 {
        font-size: 19px;
        text-align: center;
    }
    .stories .owl-theme .owl-nav {
        display: none;
    }
    .stories_content, .stories_content:hover, .stories_content:active, .stories_content:visited, .stories_content:focus {
        width: 100%;
        max-width: 420px;
    }
    
    /*contacts*/
    .contacts form {
        padding-left: 15px;
    }
    .contacts_item_title,
    .contacts_item_description {
        padding-left: 0;
        text-align: center;
    }
    .contacts input {
        width: 100%;
        margin-right: 0;
    }
    .contacts_submit {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    /*footer*/
	.footer .trade-logos {
		text-align: center;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
	}
	.footer .trade-logos img {
		margin: 30px 5px 20px 5px;
	}
}
