@media (min-width: 1879px) {
    .banner {
        height: auto;
    }
    .main_slider .item {
        width: 100%;
        max-width: none;
    }
    .main_slider .carousel-inner > .item > img {
        max-width: none;
        width: 100%;
    }
}
@media (min-width: 1350px) {
    .container {
        width: 1320px;
    }
    header .container,
    .main_footer .container {
        width: 1170px;
    }
    .main_footer .container {
        padding-left: 0;
        padding-right: 30px;
    }
}


@media (max-width: 1349px) {
    /*banner*/
    .banner_item:nth-child(1) {
        padding-left: 40px;
    }
    .banner_item:nth-child(2) {
        padding-left: 60px;
    }
    .banner_item:nth-child(3) {
        padding-left: 80px;
    }
    .banner_item:nth-child(4) {
        padding-left: 100px;
    }
    
    
    /*services*/
    .services_clients {
        margin-right: 50px;
    }
    .clients_list {
        width: 920px;
    }
    
    /*process*/
    .process_item_title {
        min-height: 54px;
    }
    
    /*stories*/
    .stories_content, 
    .stories_content:hover, 
    .stories_content:active, 
    .stories_content:visited, 
    .stories_content:focus {
        width: 370px;
    }
    
    .contacts_submit {
        margin-left: 520px;
    }
    
    .main_footer .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media (max-width: 1199px) {

    
    /*banner*/
    .banner_item:nth-child(1) {
        padding-left: 10px;
    }
    .banner_item:nth-child(2) {
        padding-left: 30px;
    }
    .banner_item:nth-child(3) {
        padding-left: 50px;
    }
    .banner_item:nth-child(4) {
        padding-left: 70px;
    }
    .banner_subtitle {
        font-size: 18px;
    }
    
    
    /*services*/
    .services_clients {
        margin-right: 30px;
    }
    .clients_list {
        width: 750px;
    }

    
    /*problem*/
    .problem .container {
        padding: 39px 15px 60px;
    }
    .problem_item {
        padding-left: 15px;
        padding-right: 15px;
    }
    .problem_item_title {
        font-size: 17px;
    }
    
    
    /*process*/
    .process_item_title {
        min-height: 54px;
    }
    
    
    /*stories*/
    .stories_carousel_wrap {
        margin-left: -0;
        margin-right: -0;
    }
    .stories_content, 
    .stories_content:hover, 
    .stories_content:active, 
    .stories_content:visited, 
    .stories_content:focus {
        width: 420px;
    }
    
    
    /*process*/
    .process .container {
        padding: 40px 15px 34px;
    }
    .process_item {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    /*promotion*/
    .promotion .container {
        padding: 34px 15px 18px;
    }
    .advertising {
        padding-left: 15px;
    }
    .stream_wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    .promotion_video {
        overflow: hidden;
        width: 100%;
        max-width: 535px;
        height: 300px;
    }
    .advertising_img_description {
        right: -144px;
        width: 230px;
    }
    .advertising_name p {
        padding-left: 5px;
        width: 143px;
        font-size: 18px;
    }
    .advertising_post {
        padding-left: 93px;
        font-size: 16px;
    }
    
    
    /*contacts*/
    .contacts_item_title {
        padding-left: 0;
    }
    .contacts_item_description {
        padding-left: 0;
        font-size: 19px;
    }
    .contacts_submit {
        margin-left: 518px;
    }
    .contacts_message div {
        left: 200px;
    }
    
    
    /*footer*/
	.footer .trade-logos img {
		max-height: 60px;
	}
}


@media (max-width: 1100px) {
    .clients_list {
        width: 100%;
    }
}


@media (max-width: 991px) {

    /*header*/
    .header_logo {
        margin-right: 30px;
    }
    .header_descr {
        font-size: 12px;
    }


    /*main menu*/   
    .main_menu ul li a,
    .main_menu ul li a:hover,
    .main_menu ul li a:active, 
    .main_menu ul li a:visited,
    .main_menu ul li a:focus {
        line-height: 50px;
        font-size: 13px;
    }

    
    /*banner*/
    .banner {
        height: 220px;
    }
    .main_slider .carousel-inner > .item > img {
        max-width: 100%;
    }
    .banner_item:nth-child(1),
    .banner_item:nth-child(2),
    .banner_item:nth-child(3),
    .banner_item:nth-child(4) {
        padding-left: 15px;
    }
    .banner_red_line {
        margin-bottom: 10px;
    }
    .banner_title {
        font-size: 20px;
    }
    .banner_subtitle {
        font-size: 13px;
    }
    
    
    /*services*/
    .services_img_title {
        font-size: 25px;
    }
    .services_clients p {
        margin-bottom: 10px;
    }
    .clients_list {
        text-align: justify;
    }
    .clients_list li {
        margin-right: 30px;
        margin-bottom: 15px;
    }

    
    /*problem*/
    .problem_item_title {
        min-height: 72px;
    }
    
    
    /*process*/
    .process_item_title {
        min-height: auto;
    }
    .process_description {
        min-height: 65px;
    }
    
    
    /*treatment*/
    .treatment_item:nth-child(1) {
        padding-left: 15px;
    }
    .treatment_item:nth-child(6) {
        padding-right: 15px;
    }
    .treatment_icon {
        margin-bottom: 35px;
    }
    
    
    /*stories*/
    .stories_content, 
    .stories_content:hover, 
    .stories_content:active, 
    .stories_content:visited,
    .stories_content:focus {
        width: 365px;
        font-size: 16px;
    }
    
    
    /*contacts*/
    .how_old {
        right: 5px;
    }
    .contacts_item_title {
        padding-left: 130px;
    }
    .contacts_item_description {
        padding-left: 130px;
        font-size: 19px;
    }
    .contacts_submit {
        margin-left: 150px;
    }
    .contacts_message div {
        left: 140px;
    }
    
    /*footer*/
	.footer .trade-logos img {
		max-height: 45px;
	}
}



@media (max-width: 767px) {

    
    /*header*/
    .main_header {
        height: 80px;
    }
    .main_header .container {
        padding: 15px 20px 0 20px;
    }
    .header_logo {
        width: 200px;
        margin-right: 0;
    }
    .header_logo img {
        width: 100%;
    }
    .burger {
        position: relative;
        float: right;
        padding: 9px 10px;
        border: 1px solid #ffffff;
        margin-right: 0;
        margin-top: 15px;
        border-radius: 4px;
        cursor: pointer;
    }
    .icon-bar {
        display: block;
        margin-bottom: 3px;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
    }
    .icon-bar:last-child {
        margin-bottom: 0;
    }


    /*main menu*/
    .main_menu ul {
        position: absolute;
        top: -10px;
        right: 30px;
        width: 210px;
        background-color: #e5332a;
        z-index: 1;
    }
    .main_menu ul li {
        display: block;
        width: 100%;
    }
    .main_menu ul li a,
    .main_menu ul li a:hover,
    .main_menu ul li a:active,
    .main_menu ul li a:visited,
    .main_menu ul li a:focus {
        padding-left: 10px;
        line-height: 50px;
        color: #ffffff;
        border-bottom: 3px solid #d02e26;
    }
    .main_menu ul li a.active,
    .main_menu ul li a:hover {
        color: #e5332a;
        background-color: #ffffff;
    }

    
    /*banner*/
    .banner {
        height: auto;
    }
    
    /*services*/
    .commercial_services {
        margin-bottom: 15px;
        padding: 0;
    }
    .residental_services {
        margin-bottom: 40px;
        padding: 0;
    }
    .services_img_wrap,
    .services_img_wrap:hover {
        margin: 0 auto;
    }
    
    
    /*problem*/
    .problem .container {
        padding: 39px 15px 0;
    }
    .problem_item_title {
        min-height: auto;
    }
    .problem_description {
        margin-bottom: 40px;
    }
    
    
    /*process*/
    .process_description {
        margin-bottom: 20px;
    }
    
    
    /*call_us*/
    .call_wrap:before {
        display: none;
    }
    .call_wrap {
        text-align: center;
        padding: 0;
    }

    
    /*stories*/
    .stories_red {
        margin-left: auto;
        margin-right: auto;
    }
    .stories h2 {
        font-size: 19px;
        text-align: center;
    }
    .stories .owl-theme .owl-nav {
        display: none;
    }
    .stories_content, .stories_content:hover, .stories_content:active, .stories_content:visited, .stories_content:focus {
        width: 100%;
        max-width: 420px;
    }
    
    /*contacts*/
    .contacts form {
        padding-left: 15px;
    }
    .contacts_item_title,
    .contacts_item_description {
        padding-left: 0;
        text-align: center;
    }
    .contacts input {
        width: 100%;
        margin-right: 0;
    }
    .contacts_submit {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .contacts_message div {
        left: 15px;
        font-size: 14px;
    }
    
    
    /*footer*/
	.footer .trade-logos {
		text-align: center;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
	}
	.footer .trade-logos img {
		margin: 30px 5px 20px 5px;
	}
}
