@font-face {
    font-family: 'ProximaNovaRegular';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/ProximaNovaRegular2.otf);
}
@font-face {
    font-family: 'ProximaNovaBold';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/ProximaNovaBold.otf);
}
@font-face {
    font-family: 'ProximaNovaExtraBold';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/ProximaNovaExtrabold.otf);
}
@font-face {
    font-family: 'ProximaNovaBlack';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/ProximaNovaBlack.otf);
}
@font-face {
    font-family: 'ProximaNovaLight';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/ProximaNovaLight.otf);
}
@font-face {
    font-family: 'HELVETICANEUECYRROMAN';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/HELVETICANEUECYRROMAN.OTF);
}
@font-face {
    font-family: 'HELVETICANEUECYRBLACK';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/HELVETICANEUECYRBLACK.OTF);
}
@font-face {
    font-family: 'HELVETICANEUECYRBOLD';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/HELVETICANEUECYRBOLD.OTF);
}
h1, h2, h3, p, div, a, input {
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #fff;
}
.main_container {
    margin: 0 auto;
    width: 1280px;
    
}
section {
    overflow: hidden;
}
.container {
    margin: 0 auto;
}
header {
    height: 100px;
}
header .container {
    width: 960px;
    height: inherit;
    line-height: 100px;
}
.header_logo {
    display: inline-block;
    margin-right: 20px;
    width: 104px;
    height: 80px;
    background: url(../img/header_logo.png) no-repeat;
    vertical-align: middle;
}
.company {
    display: inline-block;
    margin-right: 145px;
    font-family: 'ProximaNovaBold';
    font-size: 14px;
    color: #6dc0a3;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: normal;
}
.socials {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    font-family: 'ProximaNovaRegular';
    font-size: 14px;
    color: #959ea5;
    vertical-align: middle;
    line-height: normal;
}
.socials:before {
    display: block;
    position: absolute;
    top:0;
    left: -10px;
    content: " ";
    width: 1px;
    height: 14px;
    background-color: #959ea5;
}
.socials_icon {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background: url(../img/header_sprite.png) no-repeat;
    vertical-align: middle;
}
.social_vk {
    background-position: 0 0;
}
.social_insta {
    background-position: -30px 0;
}
.social_youtube {
    margin-right: 125px;
    background-position: -60px 0;
}
.phone {
    position: relative;
    display: inline-block;
    font-family: 'ProximaNovaBold';
    font-size: 18px;
    color: #959ea5;
    vertical-align: middle;
    line-height: normal;
}
.phone:before {
    display: block;
    position: absolute;
    top:0;
    left: -25px;
    content: " ";
    width: 20px;
    height: 20px;
    background: url(../img/header_sprite.png) -90px 0 no-repeat;
}
.s01 {
    position: relative;
    width: 100%;
    height: 698px;
    background-image: url(../img/s01_bg.jpg);
}
.s01 .container {
    width: 960px;
    padding-top: 60px;
}
h1 {
    margin: 0 auto;
    margin-bottom: 65px;
    width: 660px;
    text-align: center;
    font-family: 'ProximaNovaExtraBold';
    font-size: 70px;
    color: #ffffff;
    text-transform: uppercase;
}
.s01_description {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 940px;
    text-align: center;
    font-family: 'HELVETICANEUECYRROMAN';
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.s01_date {
    margin: 0 auto;
    width: 360px;
    text-align: center;
    font-family: 'ProximaNovaBold';
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0 2px 0 black;
}
.s01 .s01__video {
    width: 600px;
    height: 320px;
    position: absolute;
    z-index: 2;
    left: 340px;
    top: 485px;
    background: url(../img/video_cover.jpg) 0 0 no-repeat;
    cursor: pointer;
}
.s01 .s01__iframe {
    width: 600px;
    height: 320px;
    position: absolute;
    z-index: 2;
    left: 340px;
    top: 485px;
    display: none;
}
.s02 {
    padding-top: 205px;
    height: 545px;
    background: url(../img/round.png) 50% no-repeat;
    box-sizing: border-box;
}
.s02 h2 {
    margin-bottom: -20px;
    text-align: center;
    font-family: 'ProximaNovaExtraBold';
    font-size: 28px;
    color: #2d76ba;
}
.only {
    margin-bottom: 35px;
    text-align: center;
    font-family: 'ProximaNovaExtraBold';
    font-size: 28px;
    color: #2d76ba;
    text-transform: uppercase;
}
.s02_description {
    margin: 0 auto;
    width: 540px;
    text-align: center;
    font-family: 'ProximaNovaLight';
    font-size: 26px;
    color: #000;
}
.prize {
    display: inline-block;
    width: 137px;
    height: 33px;
    vertical-align: middle;
    font-family: 'ProximaNovaExtraBold';
    font-size: 26px;
    color: #fff;
    background-color: #005fb8;
}
.skew {
    -moz-transform: skewY(-2.5deg); 
    -ms-transform: skewY(-2.5deg); 
    -webkit-transform: skewY(-2.5deg); 
    transform: skewY(-2.5deg); 
}
.skew_back {
    -moz-transform: skewY(2.5deg); 
    -ms-transform: skewY(2.5deg); 
    -webkit-transform: skewY(2.5deg); 
    transform: skewY(2.5deg); 
}
.s03 {
    padding-top: 55px;
    width: 100%;
    height: 680px;
    background: url(../img/s03_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}
.s03 .container {
    width: 960px;
    height: 100%;
    
}
.clearfix {
    content: '';
    display: block;
    clear: both;
}
.s03_left_column {
    float: left;
    padding-top: 27px;
    width: 480px;
    height: 100%;
}
.s03_right_column {
    float: right;
    width: 420px;
    height: 100%;
}
.s03 h2 {
    margin-bottom: 40px;
    padding-left: 30px;
    width: 450px;
    height: 50px;
    line-height: 50px;
    background-color: #2d76ba;
    font-family: 'ProximaNovaBlack';
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
}
.s03_description_wrap {
    width: 480px;
    padding-left: 10px;
}
.s03_description_wrap span {
    display: inline-block;
    padding: 5px 15px 5px 10px;
    background-color: rgba(45,118,186,.8);
    font-family: 'ProximaNovaBlack';
    font-size: 34px;
    color: #fff;
    text-transform: uppercase;
}
.s03_width {
    width: 400px;
}
.s03_description_wrap span:first-child {
    padding-top: 15px;
}
.s03_description_wrap span:last-child {
    padding-bottom: 10px;
}
.post {
  width: 420px;
  height: 540px;
  padding: 3px;
  outline: 8px solid rgba(45,118,186,.8);
}
.b_form_content {
    padding: 0 40px;
    padding-top: 30px;
    width: 420px;
    height: 540px;
    background-color: rgba(49,120,189,.8);
    box-sizing: border-box;
}
.div-form__title {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 280px;
    text-align: center;
    font-family: 'HELVETICANEUECYRBLACK';
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
}
.post ul {
    padding: 0;
    list-style: none;
}
.post ul li {
  margin-bottom: 10px;
}
.field_name {
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: 'HELVETICANEUECYRROMAN';
    font-size: 12px;
    color: #ffffff;
}
.field_option {
    width: 100%;
}
.s03 input[type="text"] {
    margin-bottom: 5px;
    padding-left: 20px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    line-height: 40px;
    border-radius: 5%/50%;
    border: 1px solid #2c99e9;
    background-color: rgba(49,120,189,.8);
}
input:focus {
    outline: none;
}
::-webkit-input-placeholder {
    margin-left: 20px;
    font-family: 'HELVETICANEUECYRROMAN';
    font-size: 14px;
    color: #bdbdbd;
    vertical-align: middle;
}
:-moz-placeholder {
    margin-left: 20px;
    font-family: 'HELVETICANEUECYRROMAN';
    font-size: 14px;
    color: #bdbdbd;
    vertical-align: middle;
}
::-moz-placeholder {
    margin-left: 20px;
    font-family: 'HELVETICANEUECYRROMAN';
    font-size: 14px;
    color: #bdbdbd;
    vertical-align: middle;
}
:-ms-input-placeholder {
    margin-left: 20px;
    font-family: 'HELVETICANEUECYRROMAN';
    font-size: 14px;
    color: #bdbdbd;
    vertical-align: middle;
}
.s03_btn {  
    display: block;
    margin: 30px auto;
    width: 220px;
    height: 45px;
    box-sizing: border-box;
    border-radius: 54px;
    background-color: #fff;
    border: none;
}
.form-agreement__checkbox {
    margin-bottom: 15px;
    display: block;
    font-family: 'HELVETICANEUECYRROMAN';
    font-size: 10px;
    color: #bdbdbd;   
}
.form-agreement__checkbox,
.form-agreement__label {
    display: inline-block;
    vertical-align: top;
}
.form-agreement__checkbox input[type="checkbox"]{
    margin-right: 10px;
}
.form-agreement__label {
    width: 280px;
}
.s04 {
    padding-top: 73px;
    width: 100%;
    height: 550px;
    box-sizing: border-box;
}
.s04 img {
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 100px;
}
.s04_title_question {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'ProximaNovaLight';
    font-size: 24px;
    color: #000;
}
.s04_title {
    margin: 0 auto 35px auto;
    width: 660px;
    text-align: center;
    font-family: 'ProximaNovaExtraBold';
    font-size: 30px;
    color: #2d76ba;
}
.s04__button {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: 'HELVETICANEUECYRBOLD';
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 54px;
    background-color: #bf0000;
}
.s05 {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    height: 690px;
    background: url(../img/s05_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
    overflow: hidden
}






.s06 {
    width: 100%;
    height: 700px;
    background: url(../img/s06_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s07 {
    width: 100%;
    height: 700px;
    
}




.s08 {
    width: 100%;
    height: 700px;
    background: url(../img/s08_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s09 {
    width: 100%;
    height: 700px;
    background: url(../img/s09_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s10 {
    width: 100%;
    height: 763px;
    background: url(../img/s10_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s11 {
    width: 100%;
    height: 700px;
}


.s12 {
    width: 100%;
    height: 700px;
    background: url(../img/s12_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s13 {
    width: 100%;
    height: 800px;
    background: url(../img/s13_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s14 {
    width: 100%;
    height: 700px;
    background: url(../img/s14_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s15 {
    width: 100%;
    height: 700px;
    background: url(../img/s15_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s16 {
    width: 100%;
    height: 700px;
    
}


.s17 {
    width: 100%;
    height: 890px;
    background: url(../img/s17_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s18 {
    width: 100%;
    height: 1028px;
    background: url(../img/s18_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s19 {
    width: 100%;
    height: 700px;
    
}


.s20 {
    width: 100%;
    height: 808px;

}


.s21 {
    width: 100%;
    height: 700px;
    background: url(../img/s20_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s22 {
    width: 100%;
    height: 700px;
    background: url(../img/s21_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s23 {
    width: 100%;
    height: 700px;
   
}


.s24 {
    width: 100%;
    height: 700px;
    background: url(../img/s24_bg.jpg) 0 0 no-repeat;
    box-sizing: border-box;
}


.s25 {
    width: 100%;
    height: 700px;
    
}