@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    color: #121212;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    outline: none;
    border: none;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
.b_border {
    padding-top: 4px;
    border-top: 6px solid #20416a;
}


/*header*/
.main_header .container {
    padding: 20px 5px;
}
.logo_container {
    padding-left: 15px;
}
.header_time {
    margin: 0 0 2px 0;
    padding-left: 13px;
    font-size: 9px;
    color: #515151;
}
.header_logo {
    display: block;
    width: 202px;
    height: 61px;
    background-image: url(../images/main_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.currency_wrap {
    padding-top: 8px;
}
.currency,
.fuel,
.weather {
    display: inline-block;
    min-height: 70px;
    border-left: 2px solid #b4b4b4;
    vertical-align: top;
    font-size: 14px;
    line-height: 14px;
}
.currency {
    padding: 5px 20px 5px 15px;
}
.currency_country {
    width: 40px;
    color: #777777;
}
.currency_current {
    width: 43px;
}
.currency_percent {
    width: 47px;
    color: #777777;
}
.currency_change span,
.fuel_change span {
    display: block;
    width: 5px;
    height: 11px;
    background-image: url(../images/arrows.png);
    background-size: 5px auto;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.currency_change.currency_down span,
.fuel_change.fuel_down span {
    background-position: 0 -18px;
}
.fuel {
    padding: 5px 7px 5px 15px;
}
.fuel_type {
    color: #777777;
    text-align: right;
}
.fuel_min,
.fuel_max {
    width: 48px;
    text-align: center;
}
.fuel_dot {
    color: #777777;
}
.weather {
    padding: 15px;
    border-right: 2px solid #b4b4b4;
}
.weather_title {
    margin-bottom: 3px;
    font-size: 20px;
}
.weather_subtitle {
    font-size: 13px;
}
.search_wrap {
    padding-top: 10px;
}
.search_wrap form {
    width: 100%;
    line-height: 70px;
}
.search_wrap form input {
    padding: 0 8px;
    width: 100%;
    height: 38px;
    border: 2px solid #121212;
    outline: none;
}

/*subheader*/
.subheader .container {
    padding: 15px 10px 10px;
    background-color: #1e4570;
}
.main_menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main_menu li {
    display: inline-block;
    margin-right: -4px;
    border-right: 2px solid #ffffff;
}
.main_menu li:last-child {
    border: none;
}
.main_menu li a,
.main_menu li a:hover,
.main_menu li a:active,
.main_menu li a:visited,
.main_menu li a:focus {
    padding: 0 10px;
    line-height: 25px;
    font-size: 21px;
    color: #ffffff;
    text-decoration: none;
}


/*bread_crumbs*/
.bread_crumbs .container {
    padding: 20px 0 15px;
}
.bread_crumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.bread_crumbs ul li {
    display: inline-block;
}
.bread_crumbs ul li,
.bread_crumbs ul li a,
.bread_crumbs ul li a:hover,
.bread_crumbs ul li a:active,
.bread_crumbs ul li a:visited,
.bread_crumbs ul li a:focus {
    font-size: 16px;
    color: #777777;
    text-transform: uppercase;
}


/*main*/
.title_wrap {
    border-bottom: 2px solid #cfcfcf;
}
h2 {
    margin: 0;
    line-height: 50px;
    font-size: 37px;
    font-family: 'Fira Sans', 'Roboto', Arial, sans-serif;
    font-weight: 600;
}
.main_content {
    padding: 15px 0 25px;
    background-color: #f7f7f7;
}
.local .main_content {
    background-color: #ffffff;
}
.main_detail {
    padding-left: 10px;
}
.main_big_img {
    margin-bottom: 15px;
    width: 100%;
    max-width: 335px;
    max-height: 210px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #121212;
}
.main_big_img img,
.main_smal_photo img {
    width: 100%;
}
.main h3 {
    margin: 0 0 5px 0;
    font-size: 24px;
    line-height: 25px;
    font-weight: 600;
}
.main_content_descr {
    margin-bottom: 0;
    height: 60px;
    font-size: 20px;
    line-height: 20px;
    overflow: hidden;
}
.main_content_details p {
    display: inline-block;
    font-size: 21px;
    line-height: 21px;
    vertical-align: top;
}
.main_content_time {
    color: #8d8d8d;
}
.main_news_left_column {
    padding: 0 30px 0 5px;
}
.main_news_right_column {
    padding-right: 30px;
    background-color: #f7f7f7;
}
.main_smal_photo {
    margin-bottom: 28px;
    width: 100%;
    max-width: 335px;
    border: 2px solid #121212;
}
.main_news_title {
    margin-bottom: 0;
    height: 51px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 600;
    overflow: hidden;
}
.main_news_time {
    margin-bottom: 32px;
    color: #8d8d8d;
    font-size: 14px;
}
.main_news_item {
    padding: 17px 0 20px 0;
    border-top: 2px solid #cbcbcb;
}
.main_ad {
    padding-right: 10px;
}
.banner_wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    border: 2px solid #121212;
}
.banner_wrap img {
    width: 100%;
}
.main_news_right_column .main_news_time {
    margin-bottom: 0;
}
.news_menu {
    margin: 0;
    padding: 14px 0 0 0;
    list-style: none;
    text-align: right;
}
.news_menu li {
    display: inline-block;
    margin-left: 12px;
}
.news_menu li a,
.news_menu li a:hover,
.news_menu li a:active,
.news_menu li a:visited,
.news_menu li a:focus {
    font-size: 14px;
    color: #808080;
    text-decoration: underline;
    font-weight: 400;
}
.news_menu li.active a {
    font-weight: 600;
}


/*persona*/
.persona_content {
    padding: 20px 5px;
    background-color: #f7f7f7;
}
.persona_img {
    display: inline-block;
    margin-right: 10px;
    width: 93px;
    height: 93px;
    border: 2px solid #121212;
    vertical-align: top;
}
.persona_img img {
    width: 100%;
    overflow: hidden;
}
.persona_descr_wrap {
    display: inline-block;
    max-width: 207px;
    vertical-align: top;
}
.persona_name {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 21px;
    font-weight: 600;
}
.persona_descr {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 21px;
    color: #999999;
}


/*rubrics*/
.rubrics .col-lg-4 {
    padding: 0;
}
.rubrics h2 {
    border-bottom: 2px solid #cbcbcb;
}
.rubrics_item {
    padding: 22px 10px 0 10px;
    font-size: 18px;
    line-height: 20px;
}
.rubrics_descr {
    margin-bottom: 0;
}
.rubrics_time {
    padding-bottom: 15px;
    border-bottom: 2px solid #cbcbcb;
    color: #999999
}