@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    color: #121212;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
    outline: none;
    border: none;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
.b_border {
    padding-top: 4px;
    border-top: 6px solid #20416a;
}


/*header*/
.main_header .container {
    padding: 20px 15px;
}
.logo_container {
    padding-left: 15px;
}
.header_time {
    margin: 0 0 2px 0;
    padding-left: 13px;
    font-size: 9px;
    color: #515151;
}
.header_logo {
    display: block;
    width: 202px;
    height: 61px;
    background-image: url(../images/main_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.currency_wrap {
    padding-top: 8px;
}
.currency,
.fuel,
.weather {
    display: inline-block;
    min-height: 70px;
    border-left: 2px solid #b4b4b4;
    vertical-align: top;
    font-size: 14px;
    line-height: 14px;
}
.currency {
    padding: 5px 20px 5px 15px;
}
.currency_country {
    width: 40px;
    color: #777777;
}
.currency_current {
    width: 43px;
}
.currency_percent {
    width: 47px;
    color: #777777;
}
.currency_change span,
.fuel_change span {
    display: block;
    width: 5px;
    height: 11px;
    background-image: url(../images/arrows.png);
    background-size: 5px auto;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.currency_change.currency_down span,
.fuel_change.fuel_down span {
    background-position: 0 -18px;
}
.fuel {
    padding: 5px 7px 5px 15px;
}
.fuel_type {
    color: #777777;
    text-align: right;
}
.fuel_min,
.fuel_max {
    width: 48px;
    text-align: center;
}
.fuel_dot {
    color: #777777;
}
.weather {
    padding: 15px;
    border-right: 2px solid #b4b4b4;
}
.weather_title {
    margin-bottom: 3px;
    font-size: 20px;
}
.weather_subtitle {
    font-size: 13px;
}
.search_wrap {
    padding-top: 10px;
}
.search_wrap form {
    width: 100%;
    line-height: 70px;
}
.search_wrap form input {
    padding: 0 8px;
    width: 100%;
    height: 38px;
    border: 2px solid #121212;
    outline: none;
}


/*main page*/
/*subheader*/
.subheader .container {
    position: relative;
    padding: 0;
}
.main_menu {
    margin: 0;
    padding: 0 10px;
    list-style: none;
    background-color: #1e4570;
}

.main_menu li {
    display: inline-block;
    margin-right: -4px;
    padding-top: 3px;
    height: 50px;
    /*border-right: 2px solid #ffffff;*/
}
.main_menu li:last-child {
    border: none;
}
.main_menu li a,
.main_menu li a:hover,
.main_menu li a:active,
.main_menu li a:visited,
.main_menu li a:focus {
    display: block;
    padding: 0 10px;
    line-height: 47px;
    font-size: 21px;
    color: #ffffff;
    text-decoration: none;
}
.main_menu li a:hover {
    background-color: #e8ecf0;
    color: #1e4570;
    font-weight: 600;
}

.main_menu li ul {
    display: none;
    position: absolute;
    bottom: -40px;
    left: 0;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    background-color: #e8ecf0;
}
.main_menu li ul li {
    padding-top: 0;
}
.main_menu li:hover ul {
    display: block;
}
.main_menu li ul li a,
.main_menu li ul li a:hover,
.main_menu li ul li a:active,
.main_menu li ul li a:visited,
.main_menu li ul li a:focus {
    margin-bottom: 0;
    line-height: 40px;
    height: 40px;
    color: #1e4570;
    font-size: 18px;
}
.main_menu li ul li a:hover {
    font-weight: 600;
}


/*bread_crumbs*/
.bread_crumbs .container {
    padding: 20px 0 15px;
}
.bread_crumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.bread_crumbs ul li {
    display: inline-block;
}
.bread_crumbs ul li,
.bread_crumbs ul li a,
.bread_crumbs ul li a:hover,
.bread_crumbs ul li a:active,
.bread_crumbs ul li a:visited,
.bread_crumbs ul li a:focus {
    font-size: 16px;
    color: #777777;
    text-transform: uppercase;
}


/*main*/
.title_wrap {
    border-bottom: 2px solid #cfcfcf;
}
h2 {
    margin: 0;
    line-height: 35px;
    font-size: 23px;
    font-family: 'Fira Sans', 'Roboto', Arial, sans-serif;
    font-weight: 600;
}
.main h2,
.persona h2,
.rubrics h2 {
    text-transform: uppercase;
}
.main_content {
    /*padding: 15px 0 25px;*/
    background-color: #e8ecf0;
}
.local .main_content {
    background-color: #ffffff;
}
.main_detail {
    padding-top: 15px;
}
.main_big_img,
.main_big_img:hover,
.main_big_img:active,
.main_big_img:visited,
.main_big_img:focus {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    max-width: 360px;
    max-height: 220px;
    overflow: hidden;
    text-align: center;
}
.img_border,
.img_border:hover,
.img_border:active,
.img_border:visited,
.img_border:focus {
    border: 2px solid #121212;
}
.main_big_img img,
.main_small_photo img {
    width: 100%;
}
.main_rubrics_detail_wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px 20px 20px;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.95)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000',endColorstr='#e6000000',GradientType=0 );
}
.main_detail_title,
.main_detail_title:hover,
.main_detail_title:active,
.main_detail_title:visited
.main_detail_title:focus {
    margin: 0 0 5px 0;
    font-size: 20px;
    line-height: 25px;
    color: #121212;
    font-weight: 600;
    text-decoration: none;
}
.main_rubrics .main_content_descr,
.main_rubrics .main_content_time,
.main_rubrics .main_detail_title,
.main_rubrics .main_detail_title:hover,
.main_rubrics .main_detail_title:active,
.main_rubrics .main_detail_title:visited
.main_rubrics .main_detail_title:focus {
    color: #ffffff;
}
.main_content_descr {
    margin-bottom: 0;
    max-height: 60px;
    font-size: 15px;
    line-height: 20px;
    overflow: hidden;
    color: #121212;
}
.main_rubrics .main_content_time {
    margin-bottom: 0;
}
.main_content_details p {
    display: inline-block;
    font-size: 12px;
    line-height: 21px;
    vertical-align: top;
}
.main_content_time {
    color: #8d8d8d;
}
.main_news {
    padding-left: 0;
    padding-right: 0;
}
.main_news_left_column {
    padding-top: 15px;
}
.main_news_right_column {
    padding: 15px 15px 25px 15px;
    min-height: 520px;
    background-color: #e8ecf0;
}
.main_small_photo,
.main_small_photo:hover,
.main_small_photo:active,
.main_small_photo:visited,
.main_small_photo:focus {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    max-width: 335px;
}
.main_news_title,
.main_news_title:hover,
.main_news_title:active,
.main_news_title:visited,
.main_news_title:focus {
    margin-bottom: 0;
    max-height: 51px;
    font-size: 15px;
    line-height: 17px;
    color: #121212;
    font-weight: 600;
    text-decoration: none;
    overflow: hidden;
}
.main_news_time {
    margin-bottom: 32px;
    color: #8d8d8d;
    font-size: 14px;
}
.main_news_item {
    padding: 17px 0 20px 0;
    border-top: 2px solid #cbcbcb;
}
.main_advt {
    padding-top: 15px;
}
.banner_wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
}
.banner_wrap img {
    width: 100%;
}
.main_news_right_column .main_news_time {
    margin-bottom: 0;
}
.news_menu {
    margin: 0;
    padding: 5px 0 0 0;
    list-style: none;
    text-align: right;
}
.news_menu li {
    display: inline-block;
    margin-left: 12px;
}
.news_menu li a,
.news_menu li a:hover,
.news_menu li a:active,
.news_menu li a:visited,
.news_menu li a:focus {
    font-size: 13px;
    color: #808080;
    text-decoration: underline;
    font-weight: 400;
}
.news_menu li.active a {
    font-weight: 600;
}


/*persona*/
.persona {
    margin-bottom: 7px;
}
.persona_content {
    padding: 20px 5px;
    background-color: #f7f7f7;
}
.persona_img {
    display: inline-block;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    vertical-align: top;
}
.persona_img img {
    width: 100%;
    overflow: hidden;
}
.persona_descr_wrap {
    display: inline-block;
    max-width: 207px;
    vertical-align: top;
}
.persona_name {
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 19px;
    font-weight: 600;
}
.persona_descr {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
}


/*rubrics*/
.main_rubrics_content {
    padding-top: 0;
}
.rubrics .container {
    padding-left: 0;
    padding-right: 0;
}
.rubrics h2 {
    border-bottom: 2px solid #cbcbcb;
}
.rubrics_item {
    padding-top: 22px;
    font-size: 15px;
    line-height: 20px;
}
.rubrics_descr {
    margin-bottom: 0;
}
.rubrics_time {
    padding-bottom: 13px;
    border-bottom: 2px solid #cbcbcb;
    color: #999999
}


/*footer*/
.main_footer {
    background-color: #1e4570;
}
.main_footer .container {
    padding: 4px 0 30px 0;
}
.footer_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 2px solid #35587f;
}
.footer_menu ul li {
    display: inline-block;
}
.footer_menu ul li a,
.footer_menu ul li a:hover,
.footer_menu ul li a:active,
.footer_menu ul li a:visited
.footer_menu ul li a:focus {
    display: block;
    padding: 0 10px;
    line-height: 40px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
}
.footer_menu_left ul li:first-child a,
.footer_menu_left ul li:first-child a:hover,
.footer_menu_left ul li:first-child a:active,
.footer_menu_left ul li:first-child a:visited,
.footer_menu_left ul li:first-child a:focus {
    padding-left: 0;
}
.footer_menu_left {
    padding-left: 15px;
    padding-right: 0;
}
.footer_menu_right {
    padding-left: 0;
    padding-right: 15px;
}
.footer_menu_right ul {
    padding-left: 5px;
}
.footer_logo_wrap {
    padding: 27px 0 0 33px;
}
.footer_logo {
    width: 157px;
    height: 48px;
    background-image: url(../images/footer_logo.png);
}
.copyright_wrap {
    padding: 25px 0 0 35px;
    font-size: 12px;
    color: #ffffff;
    opacity: 0.5;
}
.error_wrap {
    padding-top: 25px;
    font-size: 12px;
    color: #ffffff;
    opacity: 0.5;
}


/*rubrics page*/
/*main_rubrics*/
.main_rubrics .title_wrap {
    border: none;
}
.main_rubrics_detail,
.main_news_content_wrap > .col-lg-9,
.main_organization_content_wrap > .col-lg-9 {
    padding-top: 15px;
    padding-left: 0;
}
.main_rubrics_news {
    padding-top: 15px;
    background-color: #e8ecf0;
}
.main_rubrics_big_img,
.main_rubrics_big_img:hover,
.main_rubrics_big_img:active,
.main_rubrics_big_img:visited,
.main_rubrics_big_img:focus {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    max-width: 560px;
    max-height: 345px;
    overflow: hidden;
}
.rubrics_item_img_wrap img,
.main_rubrics_big_img img,
.main_rubrics_small_img img,
.news_more_img img,
.similar_news_img img,
.main_news_big_img img {
    width: 100%;
}
.main_rubrics_small_img {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    max-width: 255px;
    max-height: 155px;
    overflow: hidden;
}
.main_rubrics_small_img:first-child {
    margin-bottom: 32px;
}
.main_rubrics_small_wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.95)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000',endColorstr='#e6000000',GradientType=0 );
}
.main_rubrics_small_wrap .main_news_title {
    color: #ffffff;
}
.main_rubrics_small_wrap .main_news_time {
    margin-bottom: 0;
    color: #ffffff;
}

.main_rubrics_item {
    padding: 22px 0;
    border-top: 3px solid #c9c9c9;
}
.rubrics_item_img_wrap,
.rubrics_item_img_wrap:hover,
.rubrics_item_img_wrap:active,
.rubrics_item_img_wrap:visited,
.rubrics_item_img_wrap:focus {
    display: block;
    margin: 0 25px 0 10px;
    float: left;
    width: 230px;
    height: 140px;
    overflow: hidden;
}
.main_rubrics_item_title,
.main_rubrics_item_title:hover,
.main_rubrics_item_title:active,
.main_rubrics_item_title:visited,
.main_rubrics_item_title:focus {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 25px;
    color: #121212;
    font-weight: 600;
    text-decoration: none;
}
.main_rubrics_item_descr {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 20px;
}  
.main_rubrics_item_time {
    margin-bottom: 0;
    color: #8d8d8d;
}
.main_rubrics_news_more {
    margin: 25px 0 50px 0;
    text-align: center;
}
.main_rubrics_news_more a,
.main_rubrics_news_more a:hover,
.main_rubrics_news_more a:active,
.main_rubrics_news_more a:visited,
.main_rubrics_news_more a:focus {
    display: inline-block;
    color: #121212;
    font-size: 25px;
    text-decoration: underline;
}
.main_rubrics .main_advt,
.main_news .main_advt,
.main_organization_content_wrap .main_advt {
    padding-right: 0;
}


/*news page*/
/*main_news*/
.main_news_title_wrap {
    margin-bottom: 20px;
}
.main_news_title_wrap h2,
.main_organization_title_wrap h2 {
    line-height: 47px;
    font-size: 47px;
    font-weight: 500;
}
.news_pic {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    float: left;
}
.news_author {
    margin-bottom: 0;
    font-weight: 600;
    line-height: 18px;
}
.news_author_time {
    margin-bottom: 0;
    line-height: 18px;
}
.social {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}
.social ul {
    margin: 0;
    padding: 0;
}
.social ul li {
    display: inline-block;
    margin-right: 3px;
}
.social ul li a {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.social ul li .fb {
    background-position: -33px 0;
}
.social ul li .twitter {
    background-position: -66px 0;
}
.social ul li .google {
    background-position: -99px 0;
}
.social ul li .mysp {
    background-position: -132px 0;
}
.news_statistic {
    margin-bottom: 35px;
}
.news_statistic p {
    display: inline-block;
    width: 130px;
    text-align: right;
}
.main_news_detail {
    margin-bottom: 20px;
}
.main_news_big_img,
.main_news_big_img:hover,
.main_news_big_img:active,
.main_news_big_img:visited,
.main_news_big_img:focus {
    display: block;
    margin-right: 15px;
    float: left;
    width: 100%;
    max-width: 510px;
    max-height: 308px;
    overflow: hidden;
}
.main_news_photo_author {
    margin-bottom: 0;
}
.main_news_photo_source {
    margin-bottom: 22px;
    font-weight: 600;
}
.main_news_map {
    display: inline-block;
    width: 100%;
    max-width: 335px;
    height: 250px;
}
.main_news_content {
    margin-bottom: 70px;
}
.main_news_content h3 {
    margin: 0 0 35px 0;
    font-size: 20px;
    line-height: 25px;
}
.main_news_content p {
    font-size: 15px;
    line-height: 20px;
}
.news_more {
    float: right;
    margin-left: 15px;
    padding: 13px 25px;
    width: 100%;
    max-width: 310px;
    border: 3px solid #c5c5c5;    
}
.news_more_read {
    margin-bottom: 10px;
    font-size: 14px;
}
.news_more_img,
.news_more_img:hover,
.news_more_img:active,
.news_more_img:visited,
.news_more_img:focus {
    display: block;
    margin-bottom: 15px;
    width: 240px;
    max-height: 140px;
    overflow: hidden;
}
.news_more_title,
.news_more_title:hover,
.news_more_title:active,
.news_more_title:visited,
.news_more_title:focus {
    line-height: 16px;
    font-size: 14px;
    color: #121212;
    font-weight: 600;
    text-decoration: none;
}
.news_more .news_more_time {
    margin-bottom: 4px;
    font-size: 13px;
    color: #8d8d8d;
}


/*main_news_info*/
.main_news_info {
    margin-bottom: 45px;
    font-style: italic;
    color: #8d8d8d;
    font-size: 15px;
}
.news_tags {
    margin-bottom: 20px;
}
.main_news_share p {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}


/*reference*/
.reference {
    margin-bottom: 25px;
    padding: 20px 20px 1px 20px;
    background-color: #e8ecf0;
    border-radius: 6px;
}
.reference_title {
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: 600;
}
.reference_subtitle {
    margin-bottom: 0;
    font-size: 15px;
    font-style: italic;
}
.reference_description {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 26px;
    text-decoration: underline;
}
.reference_adress {
    margin-bottom: 17px;
    font-size: 16px;
    color: #8d8d8d;
}


/*similar_news*/
.similar_news {
    margin-bottom: 50px;
}
.similar_news h2 {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 500;
}
.similar_news_img,
.similar_news_img:hover,
.similar_news_img:active,
.similar_news_img:visited,
.similar_news_img:focus {
    display: block;
    margin-bottom: 8px;
    width: 100%;
    max-width: 190px;
    max-height: 113px;
    overflow: hidden;
}
.similar_news_title,
.similar_news_title:hover,
.similar_news_title:active,
.similar_news_title:visited,
.similar_news_title:focus {
    display: block;
    margin-bottom: 0;
    max-height: 50px;
    line-height: 16px;
    font-size: 14px;
    color: #121212;
    font-weight: 600;
    text-decoration: none;
    overflow: hidden;
}
.similar_news_time {
    font-size: 13px;
    color: #8d8d8d;
}


/*page organization*/
.main_organization_title_wrap {
    margin-bottom: 10px;
}
.main_organization .social {
    padding-left: 15px;
}
.organization_statistic {
    margin-bottom: 25px;
    padding-top: 3px;
    font-size: 13px;
}
.organization_statistic p {
    display: inline-block;
    margin-bottom: 0;
    width: 25%;
    line-height: 25px;
}
.organization_font span {
    display: inline-block;
    width: 25px;
    background-color: #e8ecf0;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}


/*main_organization_detail and main_organization_adress_wrap*/
.main_organization_detail {
    margin-bottom: 10px;
}
.organization_map,
.organization_adress {
    width: 560px;
    height: 320px;
    float: left;
    overflow: hidden;
}
.organization_logo,
.organization_comm {
    width: 270px;
    height: 320px;
    float: right;
    overflow: hidden;
}
.organization_adress p,
.organization_comm p {
    margin-bottom: 0;
    font-size: 15px;
}
.main_organization_adress_wrap {
    margin-bottom: 18px;
    padding: 20px 0 30px 0;
    border-bottom: 3px solid #9a9a9a;
}
.organization_adress,
.organization_comm {
    height: auto;
}
.organization_comm .organization_comm_title {
    font-size: 13px;
    font-weight: 600;
}
.organization_comm a,
.organization_comm a:hover,
.organization_comm a:active,
.organization_comm a:visited,
.organization_comm a:focus {
    display: block;
    font-size: 15px;
    color: #121212;
    text-decoration: none;
}


.main_organization .main_news_content {
    margin-bottom: 30px;
}
.main_organization_info {
    color: #8d8d8d;
    font-style: italic;
    text-align: right;
}


/*main_organization_persone*/
.main_organization_persone {
    margin-bottom: 25px;
    padding: 10px 15px 15px 15px;
    background-color: #e8ecf0;
}
.main_organization_persone h3 {
    margin: 0 0 17px 0;
    font-size: 20px;
    font-weight: 600;
}
.organization_persone_item {
    margin-bottom: 12px;
}
.organization_persone_upic {
    margin-right: 10px;
    float: left;
    width: 75px;
    height: 75px;
    overflow: hidden;
}
.organization_persone_item p {
    font-size: 18px;
    font-weight: 600;
}
.organization_persone_all {
    text-align: center;
}
.organization_persone_all a,
.organization_persone_all a:hover,
.organization_persone_all a:active,
.organization_persone_all a:visited,
.organization_persone_all a:focus {
    font-size: 12px;
    color: #121212;
    text-decoration: underline;
}


/*organization_share*/
.organization_share {
    margin-bottom: 20px;
}
.organization_share p {
    display: inline-block;
    font-size: 15px;
    color: #8d8d8d;
    font-style: italic;
}


/*main_organization_news*/
.main_organization_news {
    margin-bottom: 50px;
}
.organisation_news_item {
    padding-top: 30px;
}
.organisation_news_item p {
    margin-bottom: 0;
}
.organization_news_meta {
    line-height: 16px;
    font-size: 14px;
    color: #8a8a8a;
}
.organization_news_description {
    font-size: 16px;
    line-height: 16px;
}