@media (max-width: 1199px) {
    .main_menu li a, 
    .main_menu li a:hover,
    .main_menu li a:active, 
    .main_menu li a:visited,
    .main_menu li a:focus {
        font-size: 20px;
    }
    .persona_descr_wrap {
        max-width: 195px;
    }
    .main_organization .persona_descr_wrap {
        max-width: 155px;
    }
    .social {
        margin-bottom: 15px;
    }
    .news_statistic p {
        text-align: left;
    }
    .news_statistic {
        margin-bottom: 20px;
    }
    
    .main_news_map {
        margin-top: 15px;
    }
    .main_rubrics_small_img:first-child {
        margin-bottom: 27px;
    }
    .main_news_title, 
    .main_news_title:hover, 
    .main_news_title:active,
    .main_news_title:visited,
    .main_news_title:focus,
    .main_rubrics_small_wrap .main_news_time {
        font-size: 12px;
    }
    
    .organization_map, 
    .organization_adress {
        width: 340px;
    }
    .main_organization .social {
        margin-bottom: 0;
    }
}

@media (max-width: 991px) {
    .currency,
    .fuel {
        padding: 5px 10px;
    }
    .weather {
        padding: 15px 10px;
    }
    .bread_crumbs .container {
        padding: 10px 0;
    }
    h2 {
        line-height: 40px;
        font-size: 25px;
    }
    .main_menu li a, 
    .main_menu li a:hover, 
    .main_menu li a:active, 
    .main_menu li a:visited, 
    .main_menu li a:focus {
        font-size: 14px;
    }
    .bread_crumbs ul li, 
    .bread_crumbs ul li a, 
    .bread_crumbs ul li a:hover, 
    .bread_crumbs ul li a:active, 
    .bread_crumbs ul li a:visited, 
    .bread_crumbs ul li a:focus {
        font-size: 15px;
    }
    .main_detail_title,
    .main_detail_title:hover,
    .main_detail_title:active,
    .main_detail_title:visited
    .main_detail_title:focus {
        font-size: 16px;
    }
    .main_content_descr {
        font-size: 13px;
    }
    .main_news_title,
    .main_news_title:hover,
    .main_news_title:active,
    .main_news_title:visited,
    .main_news_title:focus,
    .main_news_time {
        font-size: 12px;
    }
    .main_content_details p {
        font-size: 13px;
    }
    .main_news_right_column {
        min-height: auto;
    }
    .persona_descr_wrap {
        width: 100%;
    }
    .persona_name,
    .persona_descr {
        font-size: 16px;
    }
    .rubrics_item {
        padding: 10px 10px 0 10px;
        font-size: 15px;
    }
    .sidebar {
        max-width: 320px;
    }
    .footer_menu ul li a, 
    .footer_menu ul li a:hover, 
    .footer_menu ul li a:active, 
    .footer_menu ul li a:visited,
    .footer_menu ul li a:focus {
        padding: 0 5px;
        font-size: 13px;
    }
    .footer_logo {
        width: 110px;
        height: 34px;
        background-image: url(../images/footer_logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .similar_news_title, 
    .similar_news_title:hover, 
    .similar_news_title:active, 
    .similar_news_title:visited, 
    .similar_news_title:focus {
        height: 50px;
    }
    .main_rubrics_small_img:first-child {
        margin-bottom: 27px;
    }
    .main_rubrics_small_wrap .main_news_title, 
    .main_rubrics_small_wrap .main_news_title:hover, 
    .main_rubrics_small_wrap .main_news_title:active, 
    .main_rubrics_small_wrap .main_news_title:visited, 
    .main_rubrics_small_wrap .main_news_title:focus, 
    .main_rubrics_small_wrap .main_news_time {
        font-size: 10px;
    }
    
    .organization_map {
        margin-bottom: 20px;
        width: 100%;
        float: none;
    }
    .organization_logo {
        float: none;
    }
    .organization_adress,
    .organization_comm {
        width: 50%;
    }
    
}

@media (max-width: 767px) {
    .main_header {
        position: relative;
    }
    .header_logo {
        width: 145px;
        height: 45px;
        background-image: url(../images/main_logo.png);
        background-repeat: no-repeat;
        background-size: contain;
}
    .burger {
        display: block;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -9px;
        width: 20px;
        height: 18px;
        background-image: url(../images/burger.png);
        cursor: pointer;
    }
    .subheader {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .subheader .container {
        height: 100%;
    }
    .main_menu {
        padding: 30px 20px 0;
        height: 100%;
        background-color: #ffffff;
    }
    .main_menu li {
        display: block;
        margin: 0;
        height: auto;
        border-bottom: 1px solid #1e4570;
    }
    .main_menu li a, 
    .main_menu li a:hover, 
    .main_menu li a:active, 
    .main_menu li a:visited, 
    .main_menu li a:focus {
        margin: 0;
        line-height: 35px;
        font-size: 17px;
        color: #1e4570;
        background-color: #ffffff;
    }
    .main_menu li a:hover {
        color: #701e1e;
        font-weight: 500;
    }
    .main_menu li:hover ul {
        display: none;
    }
    .menu_close {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 13px;
        height: 13px;
        background-image: url(../images/close.png);
        cursor: pointer;
    }
    .bread_crumbs .container {
        padding: 10px;
    }
    .bread_crumbs ul li, 
    .bread_crumbs ul li a, 
    .bread_crumbs ul li a:hover, 
    .bread_crumbs ul li a:active,
    .bread_crumbs ul li a:visited,
    .bread_crumbs ul li a:focus {
        font-size: 13px;
    }
    .main_detail {
        padding: 15px 10px 0 10px;
    }
    h2.col-xs-12 {
        padding: 0 10px;
    }
    .main_detail_title,
    .main_detail_title:hover,
    .main_detail_title:active,
    .main_detail_title:visited
    .main_detail_title:focus {
        line-height: 20px;
    }    
    .main_content_descr {
        height: auto;
        max-height: 60px;
    }
    .main_news_title,
    .main_news_title:hover,
    .main_news_title:active,
    .main_news_title:visited,
    .main_news_title:focus {
        height: auto;
        max-height: 51px;
    }
    .main_news_time {
        margin-bottom: 20px;
    }
    .news_menu {
        padding: 0 10px;
        text-align: left;
    }
    .news_menu li {
        margin-left: 0;
        margin-right: 10px;
    }
    .main_news_right_column {
        padding-bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
        min-height: auto;
    }
    .banner_wrap {
        margin-bottom: 15px;
    }
    .persona_name, 
    .persona_descr {
        font-size: 14px;
    }
    .persona_img {
        margin-bottom: 15px;
    }
    .persona_descr_wrap {
        width: 190px;
    }
    .rubrics .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .rubrics .col-lg-4 {
        padding: 0 10px;
    }
    .rubrics_item {
        padding: 10px 0;
    }
    .sidebar {
        padding-left: 10px;
        padding-right: 10px;
    }
    .main_footer .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer_menu_left,
    .footer_menu_right {
        padding-left: 0;
        padding-right: 0;
    }
    .footer_menu_left ul {
        border: none;
    }
    .footer_menu ul {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer_menu ul li a, 
    .footer_menu ul li a:hover, 
    .footer_menu ul li a:active, 
    .footer_menu ul li a:visited,
    .footer_menu ul li a:focus {
        line-height: 30px;
    }
    .footer_menu_left ul li:first-child a, 
    .footer_menu_left ul li:first-child a:hover, 
    .footer_menu_left ul li:first-child a:active, 
    .footer_menu_left ul li:first-child a:visited, 
    .footer_menu_left ul li:first-child a:focus {
        padding-left: 5px;
    }
    .copyright_wrap {
        padding: 15px 10px;
    }
    .error_wrap {
        padding: 0 10px;
    }
    .title_wrap h2,
    .main_organization_title_wrap,
    .main_news_title_wrap,
    .organization_statistic,
    .main_rubrics_detail,
    .news_statistic,
    .similar_news_item {
        padding: 0 10px;
    }
    .main_rubrics_news {
        padding: 15px 10px 0 10px;
    } 
    .social {
        padding: 0 10px;
    }
    .main_news_share .social {
        padding: 0;
    }
    .main_rubrics_item {
        padding: 22px 10px;
        border-top: 3px solid #c9c9c9;
    }
    .main_rubrics_small_wrap .main_news_title, 
    .main_rubrics_small_wrap .main_news_title:hover, 
    .main_rubrics_small_wrap .main_news_title:active, 
    .main_rubrics_small_wrap .main_news_title:visited, 
    .main_rubrics_small_wrap .main_news_title:focus, 
    .main_rubrics_small_wrap .main_news_time {
        font-size: 12px;
    }
    .rubrics_item_img_wrap, 
    .rubrics_item_img_wrap:hover, 
    .rubrics_item_img_wrap:active, 
    .rubrics_item_img_wrap:visited, 
    .rubrics_item_img_wrap:focus {
        margin: 0 15px 0 0;
    }
    .main_news_title_wrap h2 {
        line-height: 30px;
        font-size: 23px;
    }
    .news_source {
        margin-bottom: 15px; 
        padding: 0 10px;
    }
    .main_news_content_wrap > .col-lg-9,
    .main_organization_content_wrap > .col-lg-9 {
        padding-left: 15px;
    }
    .news_more {
        float: none;
        margin: 15px auto;
    }
    .main_rubrics_news_more {
        margin: 10px 0 40px 0;
    }
    .main_organization .social {
        padding-left: 10px;
        padding-right: 10px;
    }
    .organization_share .social {
        padding-left: 0;
    }
    .organization_statistic p {
        width: 33%;
    }
    .main_organization_adress_wrap,
    .main_news_detail,
    .main_news_content,
    .main_news_info,
    .reference,
    .main_organization_detail,
    .organization_share,
    .main_organization_news {
        margin-left: -5px;
        margin-right: -5px;
    }
    .main_organization .persona {
        margin-left: -15px;
        margin-right: -15px;
    }
}