@media (max-width: 1199px) {
    .main_menu li a, 
    .main_menu li a:hover,
    .main_menu li a:active, 
    .main_menu li a:visited,
    .main_menu li a:focus {
        font-size: 20px;
    }
    .persona_descr_wrap {
        max-width: 195px;
    }
    .news_social {
        margin-bottom: 15px;
    }
    .news_statistic p {
        text-align: left;
    }
    .news_statistic {
        margin-bottom: 20px;
    }
    .main_news_map {
        margin-top: 15px;
    }
}

@media (max-width: 991px) {
    .currency,
    .fuel {
        padding: 5px 10px;
    }
    .weather {
        padding: 15px 10px;
    }
    .bread_crumbs .container {
        padding: 10px 0;
    }
    h2 {
        line-height: 40px;
        font-size: 25px;
    }
    .main_menu li a, 
    .main_menu li a:hover, 
    .main_menu li a:active, 
    .main_menu li a:visited, 
    .main_menu li a:focus {
        font-size: 14px;
    }
    .bread_crumbs ul li, 
    .bread_crumbs ul li a, 
    .bread_crumbs ul li a:hover, 
    .bread_crumbs ul li a:active, 
    .bread_crumbs ul li a:visited, 
    .bread_crumbs ul li a:focus {
        font-size: 15px;
    }
    .main_detail_title,
    .main_detail_title:hover,
    .main_detail_title:active,
    .main_detail_title:visited
    .main_detail_title:focus {
        font-size: 16px;
    }
    .main_content_descr {
        font-size: 13px;
    }
    .main_news_title,
    .main_news_title:hover,
    .main_news_title:active,
    .main_news_title:visited,
    .main_news_title:focus,
    .main_news_time {
        font-size: 12px;
    }
    .main_content_details p {
        font-size: 13px;
    }
    .main_news_right_column {
        min-height: auto;
    }
    .persona_descr_wrap {
        width: 100%;
    }
    .persona_name,
    .persona_descr {
        font-size: 16px;
    }
    .rubrics_item {
        padding: 10px 10px 0 10px;
        font-size: 15px;
    }
    .footer_menu ul li a, 
    .footer_menu ul li a:hover, 
    .footer_menu ul li a:active, 
    .footer_menu ul li a:visited,
    .footer_menu ul li a:focus {
        padding: 0 5px;
        font-size: 13px;
    }
    .similar_news_title, 
    .similar_news_title:hover, 
    .similar_news_title:active, 
    .similar_news_title:visited, 
    .similar_news_title:focus {
        height: 50px;
    }
}

@media (max-width: 767px) {
    .main_menu li {
        height: auto;
    }
    .bread_crumbs .container {
        padding: 10px;
    }
    .bread_crumbs ul li, 
    .bread_crumbs ul li a, 
    .bread_crumbs ul li a:hover, 
    .bread_crumbs ul li a:active,
    .bread_crumbs ul li a:visited,
    .bread_crumbs ul li a:focus {
        font-size: 13px;
    }
    .main_detail {
        padding: 15px 10px 0 10px;
    }
    h2.col-xs-12 {
        padding: 0 10px;
    }
    .main_detail_title,
    .main_detail_title:hover,
    .main_detail_title:active,
    .main_detail_title:visited
    .main_detail_title:focus {
        line-height: 20px;
    }    
    .main_content_descr {
        height: auto;
        max-height: 60px;
    }
    .main_news_title,
    .main_news_title:hover,
    .main_news_title:active,
    .main_news_title:visited,
    .main_news_title:focus {
        height: auto;
        max-height: 51px;
    }
    .main_news_time {
        margin-bottom: 20px;
    }
    .news_menu {
        padding: 0 10px;
        text-align: left;
    }
    .news_menu li {
        margin-left: 0;
        margin-right: 10px;
    }
    .main_news_right_column {
        padding-bottom: 0;
        min-height: auto;
    }
    .banner_wrap {
        margin-bottom: 15px;
    }
    .persona_name, 
    .persona_descr {
        font-size: 14px;
    }
    .persona_img {
        margin-bottom: 15px;
    }
    .persona_descr_wrap {
        width: 190px;
    }
    .rubrics .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .rubrics .col-lg-4 {
        padding: 0 10px;
    }
    .rubrics_item {
        padding: 10px 0;
    }
    .main_footer .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer_menu_left,
    .footer_menu_right {
        padding-left: 0;
        padding-right: 0;
    }
    .footer_menu_left ul {
        border: none;
    }
    .footer_menu ul {
        padding-left: 10px;
        padding-right: 10px;
    }
    .footer_menu ul li a, 
    .footer_menu ul li a:hover, 
    .footer_menu ul li a:active, 
    .footer_menu ul li a:visited,
    .footer_menu ul li a:focus {
        line-height: 30px;
    }
    .footer_menu_left ul li:first-child a, 
    .footer_menu_left ul li:first-child a:hover, 
    .footer_menu_left ul li:first-child a:active, 
    .footer_menu_left ul li:first-child a:visited, 
    .footer_menu_left ul li:first-child a:focus {
        padding-left: 5px;
    }
    .copyright_wrap {
        padding: 15px 10px;
    }
    .error_wrap {
        padding: 0 10px;
    }
    .title_wrap,
    .main_rubrics_content,
    .main_news_title_wrap,
    .news_statistic {
        padding: 0 10px;
    }
    .main_rubrics_news,
    .main_rubrics_detail {
        padding-left: 0;
        padding-right: 0;
    }
    .rubrics_item_img_wrap, 
    .rubrics_item_img_wrap:hover, 
    .rubrics_item_img_wrap:active, 
    .rubrics_item_img_wrap:visited, 
    .rubrics_item_img_wrap:focus {
        margin: 0 15px 0 0;
    }
    .main_news_title_wrap h2 {
        line-height: 30px;
        font-size: 23px;
    }
    .news_source {
        margin-bottom: 15px; 
        padding: 0 10px;
    }
    .main_news_content_wrap .col-lg-9 {
        padding-left: 15px;
    }
    .news_more {
        float: none;
    }
    .main_rubrics_news_more {
        margin: 10px 0 40px 0;
    }
}