

@media (max-width: 1199px) {
    
    /*header*/
	
    
    /*main_menu*/
    .main_menu ul li a, 
    .main_menu ul li a:hover, 
    .main_menu ul li a:active,
    .main_menu ul li a:visited,
    .main_menu ul li a:focus {
        font-size: 14px;
    }
    
    /*main_offers*/
    
    
    /*main_content*/
    
    
    /*main_article*/
    .main_article {
        min-height: 438px;
    }
    
    
    /*aside_news*/
    .aside_news_img_content {
        padding: 90px 20px 16px;
    }
    
    /*main footer*/
    .footer_column h2 {
        font-size: 17px;
    }
    .footer_phone {
        font-size: 20px;
    }
    .copyright_info {
        font-size: 13px;
    }
    
    
    /*announcement*/
    .announcement_hours_wrap {
        padding-left: 5px;
        padding-right: 5px;
    }
    .announcement_hours td:first-child {
        padding-right: 5px;
    }
    
    /*specialist*/
    .specialist_description {
        max-width: 210px;
    }
    
    
    /*offers*/
    .offers_more, 
    .offers_more:hover,
    .offers_more:active, 
    .offers_more:visited,
    .offers_more:focus {
        width: 110px;
    }
    
    .portfolio_controls {
        font-size: 11px;
    }
}



@media (max-width: 991px) {

    /*header*/
    .main_logo {
        width: 280px;
    }
    .main_logo img {
        width: 100%;
    }
    .header_partners {
        width: 360px;
    }
    .header_partners img {
        width: 49%;
    }
    
    /*main_menu*/
    .main_menu ul {
        padding-right: 140px;
    }
    .main_menu ul li.menu_specialist {
        bottom: 0;
        top: 0;
    }

    
    /*small_article*/
    .main_article {
        margin-bottom: 15px;
        min-height: auto;
    }
    
    /*region*/
    .region_title {
        padding: 0;
        font-size: 18px;
    }
    
    /*banner*/
    .banner img {
        width: 100%;
    }
    
    /*discount*/
    .discount_block {
        padding: 15px;
    }
    .discount_block_title {
        font-size: 22px;
    }
    .discount_block a,
    .discount_block a:hover, 
    .discount_block a:active,
    .discount_block a:visited, 
    .discount_block a:focus {
        font-size: 13px;
    }

    
    /*learn_technology*/
    .learn_technology_title {
        padding: 15px;
    }
    
    /*quiz*/
    .quiz {
        padding: 15px;
    }
    .quiz_title {
        padding: 15px;
        font-size: 20px;
    }
    .quiz label {
        font-size: 10px;
    }
    
    /*aside_news*/
    .aside_news_img_content {
        padding: 60px 20px 16px;
    }
    .aside_news_img_title {
        font-size: 14px;
        line-height: 17px;
    }

    /*main footer*/
	.footer_column h2 {
        font-size: 13px;
    }
    .footer_column ul li a, 
    .footer_column ul li a:hover, 
    .footer_column ul li a:active, 
    .footer_column ul li a:visited, 
    .footer_column ul li a:focus {
        font-size: 13px;
    }
    .footer_phone {
        font-size: 15px;
    }
    
    
    /*questions*/
    .questions_head_left {
        width: 75%;
    }
    .specialist_questions {
        margin-top: 15px;
        float: left;
        clear: both;
        width: 100%;
    }
    .specialist_reception, 
    .specialist_reception:hover,
    .specialist_reception:active,
    .specialist_reception:visited,
    .specialist_reception:focus,
    .specialist_ask, 
    .specialist_ask:hover, 
    .specialist_ask:active,
    .specialist_ask:visited, 
    .specialist_ask:focus {
        margin-right: 10px;
        display: inline-block;
        width: 160px;
    }
    
    
    /*services*/
    .services_line_left a,
    .services_line_left a:hover,
    .services_line_left a:active,
    .services_line_left a:visited, 
    .services_line_left a:focus {
        font-size: 14px;
    }
    .services_line_right p {
        font-size: 12px;
    }
    
    
    /*specialist*/
    .specialist_description {
        max-width: 270px;
    }
    .specialist_footer_left a,
    .specialist_footer_left a:hover, 
    .specialist_footer_left a:active, 
    .specialist_footer_left a:visited, 
    .specialist_footer_left a:focus {
        display: block;
    }
    
    /*offers*/
    
    .offers_item {
        margin-bottom: 15px;
    }
    
    
    /*portfolio*/
    .portfolio_item {
        margin-bottom: 15px;
    }
    .portfolio_controls {
        font-size: 12px;
    }
}



@media (max-width: 767px) {
    
    body {
        padding: 0;
    }
    
    /*header*/
    .main_header .container {
        padding: 0;
        text-align: center;
    }
    .main_logo {
        margin: 0;
        padding: 0;
        width: 280px;
    }
    .login_register, 
    .login_register:hover, 
    .login_register:active, 
    .login_register:visited, 
    .login_register:focus {
        position: absolute;
        bottom: -45px;
        right: 15px;
        color: #ffffff;
        z-index: 1;
    }
    
    /*main_menu*/
    .main_menu .container {
        padding: 0;
        height: 70px;
        background-color: #09a099;
    }
    .burger {
        position: absolute;
        top: 5px;
        left: 15px;
        
        display: block;
        height: 60px;

        font-size: 50px;
        line-height: 60px;
        text-indent: 0;
        color: #FFF;
        font-family: "Roboto Condensed", tahoma, arial, serif;
        font-weight: 700;
        z-index: 1;
        cursor: pointer;
    }
    .burger:before {
        content: "\2261";
    }
    .main_menu ul {
        position: fixed;
        top: 0;
        z-index: 100;
        padding: 70px 15px 15px 15px;
        margin: 0;
        width: auto;
        min-width: 100%;
        max-width: 100%;
        height: 100%;
        border-radius: 0;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
        overflow-y: auto;
    }
    .main_menu ul .burger {
        position: absolute;
        top: 10px;
        left: 15px;
        content: "\2261";
        display: block;
        height: 60px;
        margin: 0;
        padding: 0;
        font-size: 50px;
        line-height: 60px;
        text-indent: 0;
        color: #FFF;
        font-family: "Roboto Condensed", tahoma, arial, serif;
        font-weight: 700;
        z-index: 1;
        cursor: pointer;
    }
    .main_menu ul li {
        display: block;
    }
    .main_menu ul li a,
    .main_menu ul li a:hover,
    .main_menu ul li a:active,
    .main_menu ul li a:visited,
    .main_menu ul li a:focus {
        font-size: 20px;
    }
    
    
    /*region*/
    .main_sidebar {
        max-width: 390px;
    }

    
    /*main footer*/
    .footer_column {
        width: 100%;
    }
    
    
    .announcement_entry, 
    .announcement_entry:hover,
    .announcement_entry:active,
    .announcement_entry:visited, 
    .announcement_entry:focus {
        margin-left: 0;
        margin-top: 15px;
    }
    .announcement_head_content .announcement_title {
        padding-left: 15px;
        padding-right: 15px;
    }
    .announcement_head_content .announcement_title,
    .announcement_head_content .row {
        margin-left: 0;
        margin-right: 0;
       
    }
    .services h2 {
        font-size: 20px;
    }
    
    /*portfolio*/
    .portfolio_controls {
        font-size: 11px;
    }
}


@media (max-width: 550px) {
    .announcement_head .col-xs-3,
    .announcement_head_content .col-xs-6 {
        width: 100%;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .services h3 {
        text-align: center;
    }
    .services_line_left,
    .services_line_right {
        float: none;
        margin-bottom: 5px;
        text-align: center;
    }
}


@media (max-width: 640px) {
    .offers_item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    
    /*portfolio*/
    .portfolio_item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}


@media (max-width: 460px) {
    .news_row {
        margin-bottom: 20px;
        width: 100%;
    }
    .small_article_img {
        display: none;
    }   
    .small_article_description {
        margin-bottom: 0;
    }
}


@media (max-width: 435px) {
    .specialist_footer_left,
    .specialist_footer_right a, 
    .specialist_footer_right a:hover,
    .specialist_footer_right a:active, 
    .specialist_footer_right a:visited, 
    .specialist_footer_right a:focus {
        float: none;   
    }
}


@media (max-width: 392px) {
    .questions_head_left {
        width: 100%;
    }
    .questions_head_right,
    .announcement_recomend_wrap {
        display: none;
    }
    .announcement_reviews .col-xs-8 {
        width: 100%;
    }
    .announcement_year {
        display: none;
    }
    .announcement_price_title {
        width: 175px;
    }
}

@media (max-width: 340px) {
    .offers_date {
        display: none;
    }
    .offers_more, 
    .offers_more:hover,
    .offers_more:active,
    .offers_more:visited,
    .offers_more:focus {
        width: 100px;
    }
    .offers_price{
        margin-top: 5px;
    }
}
